{% extends "base.html" %}
{% block content %}
<h2>Arbre de décision</h2>
<form method="post" enctype="multipart/form-data">
    <!-- the form to submit put the file -->
    {% csrf_token %}
    <label for="file">Importer un fichier CSV :</label>
    <input type="file" id="file" name="file" accept=".csv">
    <button type="submit">Traiter</button>
</form>
{% if result %}
    <h3>Résultat :</h3>
    <p>{{ result }}</p>
    <a href="{% url 'generate_decision_tree_pdf' %}">Télécharger le résultat au format PDF</a>
{% endif %}    
{% endblock %}
