{% extends "base.html" %}

{% block title %}Home - Application Web{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="post" id='Form' enctype="multipart/form-data">
            <!-- the form to submit the file -->
            {% csrf_token %}
            <label for="file">Importer un fichier CSV :</label>
            <input type="file" id="file" name="file" accept=".mtx">
            <button type="submit">Traiter</button>
            <select id="dropdown" name="model">
                <option value="">Choisissez un algorithme</option>
                <option value="neural_network" >Réseau neurone</option>
                <option value="regression_linear">Regression linéaire</option>
                <option value="k-ppv">K-ppv</option>
                <option value="arbre_decision">Arbre de décision</option>
            </select>
        </form>
    </div>
{% endblock %}
