{% extends "index.html" %}
{% load static %}
{% block title %}Home - Application Web{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="post" id="Form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <label for="file" class="custom-file-label">Importer un fichier CSV</label>
                <input type="file" id="file" name="file" accept=".mtx, .edges" class="file-input">
            </div>
            <div class="form-row">
                <select id="dropdown" name="model" class="dropdown">
                    <option value="">Choisissez un algorithme</option>
                    <option value="neural_network">Réseau neurone</option>
                    <option value="regression_linear">Regression linéaire</option>
                    <option value="k-ppv">K-ppv</option>
                    <option value="arbre_decision">Arbre de décision</option>
                </select>
            </div>
            <div class="form-row">
                <button type="submit" class="submit-button">Traiter</button>
            </div>
        </form>
    </div>
{% endblock %}
