{% extends "base.html" %}

{% block content %}
    <h3>Résultat :</h3>
    <div class="tiles-container">
        {% for element in prediction %}
            <div class="tile">
                <span class="value">{{ element }}</span>
                <span class="label">X Graphe</span>
            </div>
        {% endfor %}
        {% for node in nodes %}
            <div class="tile">
                <span class="value">{{ node }}</span>
                <span class="label">Graphe</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
